<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NaturalLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
      <NaturalLauncher.Properties.Settings>
        <setting name="ConfigurationUrl" serializeAs="String">
          <value>http://ensl.gk-servers.de/</value>
        </setting>
        <setting name="IndexURL" serializeAs="String">
          <value>http://ensl.gk-servers.de/</value>
        </setting>
        <setting name="CreditURL" serializeAs="String">
          <value>http://ensl.gk-servers.de/</value>
        </setting>
        <setting name="GameUrl" serializeAs="String">
          <value>http://ensl.gk-servers.de/ns</value>
        </setting>
        <setting name="GatherURL" serializeAs="String">
          <value>https://www.ensl.org/gathers/latest/ns1</value>
        </setting>
        <setting name="NineLegendUrl" serializeAs="String">
          <value>http://www.elseware-experience.com/vignauxmael/NaturalLauncher/NLPack</value>
        </setting>
        <setting name="LauncherUrl" serializeAs="String">
          <value>http://ensl.gk-servers.de/Launcher/</value>
        </setting>
      </NaturalLauncher.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>